@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
img {
  max-width: 100%;
  height: auto;
}
input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #ffffff;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Poppins' sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    background: #61A8BE;
}
.element {
  position: relative;
}

/*replace the content value with the
corresponding value from the list below*/

.element:before {
  content: "\f000";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
/*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
}

.navbar-brand{
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background-color: #63A9C0;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 2px;
  word-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  display: block;
  cursor: pointer;  
}

.nav-link{
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background-color: #63A9C0;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
}

.collapsible-icons{
  
}
.collapsible-icons #primary-menu > ul > li > a {
  background: none;
  padding: 30px 15px;
  position: relative;
  border-top: 3px solid transparent;
  text-align: center;
}
.collapsible-icons #primary-menu > ul > li > a:before, .collapsible-icons #primary-menu > ul > li > a:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -10px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #ffffff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.collapsible-icons #primary-menu > ul > li > a:hover:before,
.collapsible-icons #primary-menu > ul > li.active > a:before {
    opacity: 1;
    top: 0;

}

.collapsible-icons #primary-menu > ul > li.active > a,
.collapsible-icons #primary-menu > ul > li > a:hover {
    border-top: 3px solid #ffffff;  
}
.collapsible-icons.affix {
  background-color: #138fc2;
}
.home-page h2{
  font-size: 40px;
  color: #ffffff;
  font-weight: 600;
  display: block;
}
.home-page p{
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  background-image: #000000 url(images/parallax-2) no-repeat scroll center center / cover;
}
.home-page a{
  text-decoration: none;
  cursor: pointer;
}
.button{
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #2f60c3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  margin-top: 25px;
  outline: none;
}
.button.white, .button:hover {
  background-color: #ffffff;
  color: #138fc2;
  border: none;
  outline: none;
} 

.button.white:hover {
  background-color: #2f60c3;
  color: #ffffff;
  border: none;
  outline: none;
  font-weight: 500;
}
.owl-controls{
  position: absolute;
  left: 15px;
  top: 100%;
  -webkit-tap-highlight-color: transparent;
  color: #ffffff;
  display: block;
}
.owl-prev{
  position: relative;
    margin-top: 0;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 2.8;
}

.owl-next{
  position: relative;
    margin-top: 0;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    margin: 0 70px;
    font-size: 20px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 2.8;
}








